<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overflow">
                <div class="social-icons pull-right">
                    <ul class="nav nav-pills">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <!--<li><a href=""><i class="fa fa-dribbble"></i></a></li>-->
                        <!--<li><a href=""><i class="fa fa-linkedin"></i></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <h1><i class="fa fa-modx text-primary"></i>Social Publisher</h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/site/pricing"><i class="fa fa-shopping-cart"></i> Pricing</a></li>
                    <li><a href="/site/about"><i class="fa fa-info-circle"></i> About</a></li>
                    {{#if authenticated }}
                        <li><a href="/site/settings"><i class="fa fa-cogs"></i> Settings</a></li>
                        <li><a href="/users/profile"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="/users/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</header>