<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/bower_components/font-awesome/css/font-awesome.min.css' rel='stylesheet' />
    <link href='/stylesheets/publish-bootstrap.css' rel='stylesheet' />

    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
    <base href="/">
</head>
<body>
    {{{body}}}
</body>
</html>
