<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>

    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/bower_components/font-awesome/css/font-awesome.min.css' rel='stylesheet' />
    <link href="/stylesheets/animate.min.css" rel="stylesheet">
    <link href="/stylesheets/lightbox.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/public/javascripts/html5shiv.js"></script>
    <script src="/public/javascripts/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

    <link rel="shortcut icon" href="/public/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/public/images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <div class="container-fluid">
        {{> header }}
        {{{body}}}
        {{> footer }}
    </div>
</body>
</html>
