.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.padding-top-15 {
    padding-top: 15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}

.dash-bottom {
    border-bottom: 1px dashed #d3d3d3;
}

ul.accounts-list {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
.account-item {
    /*border: 1px solid #d2d2d2;*/
    /*border-radius: 3px;*/
}
.account-item:hover {
    background-color: #F7F7F7;
}