/* boootstrap overrides */
.nav-tabs>li>a {
  border: none;
}
.nav>li>a:focus, .nav>li>a:hover
{
  background-color: inherit;
}
.nav>li>a:focus, .nav>li>a:hover {
  border-color: inherit;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
  background-color: inherit;
}
/* font awesome overrides */
i.fa.fa-facebook{
  padding-left: 4px;
  padding-right: 1px;
}
i.fa.fa-instagram {
  padding-left: 1px;
}
/* our styles */
li.social-network {
  /*min-width: 46px;*/
  border-right: 1px solid #ddd;
  cursor: pointer;
}

li.social-network .fa-facebook{
  color: #46629e;
}
li.social-network .fa-twitter {
  color: #46c0fb;
}
li.social-network .fa-instagram {
  color: #5B8CA9;
}
/* hover tab section */
li.social-network:hover i, li.social-network.active .fa {
  color: white;
}
li.social-network.facebook:hover, li.social-network.facebook.active {
  background-color: #46629e;
}
li.social-network.twitter:hover, li.social-network.twitter.active {
  background-color: #46c0fb;
}
li.social-network.instagram:hover, li.social-network.instagram.active {
  background-color: #5B8CA9;
}
/* active tab section*/