This is the about page

<iframe class="social-publisher-io" src="/app/main"
        style="height: 100%;min-height: 100%;top: 0;width: 421px;right: -421px;
        position: fixed;
        z-index: 1;
        border-left: 1px solid #e6e6e6;border-top: none;border-bottom: none;border-right: none;
        box-shadow: -1px 0 21px -9px #888;" >

</iframe>

<script>
    $(document).ready(function() {
        var sideBarWidth = 421;
    //    $(".social-publisher-io").stop().animate({
    //        "right": "-=" + (sideBarWidth) + "px"
    //    }, 200, function() {
    //        $(".social-publisher-io").removeClass('opened');
    //    });

        $(".social-publisher-io").stop().animate({
            "right": "+=" + (sideBarWidth) + "px"
        }, 200, function() {
            $(".social-publisher-io").addClass('opened');
        });
    });

    $('<iframe>', {
        src: 'http://socialpublisher.io/app/main',
        id:  'socialpublisher-iframe',
        style: 'height: 100%;min-height: 100%;top: 0;width: 421px;right: 0px;position: fixed;z-index: 99999999;border-left: 1px solid #e6e6e6;border-top: none;border-bottom: none;border-right: none;box-shadow: -1px 0 21px -9px #888;'
    }).appendTo('body');

</script>