<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-3 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3">
    <form class="form-inline text-center margin-top-15 margin-bottom-5">
        <input id="search" class="form-control" type="text" placeholder="Search...">
    </form>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <ul class="accounts-list list-unstyled">
        <li class="clearfix account-item" *ngFor="let account of accounts">
            <span class="pull-left"></span> <!-- image -->
            <span class="pull-left account-name">{{account.name}}</span>
            <!--<span class="page-name"></span>-->
            <span class="pull-right checkbox"><label>
                <input type="checkbox" [(ngModel)]="account.isSelected">
            </label></span>
        </li>
    </ul>
</div>
