<div class="container-fluid social-publish-main">
    <div class="row no-gutter">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <social-networks></social-networks>
        </div>
    </div>
    <div class="row dash-bottom">
        <accounts-list></accounts-list>
    </div>
</div>

<!-- Router Outlet -->
<!--<router-outlet></router-outlet>-->