<!--<ul class="list-unstyled">-->
    <!--<li></li>-->
<!--</ul>-->

<!--<dl class="dl-horizontal">-->
    <!--<dt class="social-network" *ngFor="let socialNetwork of socialNetworks">-->
        <!--&lt;!&ndash;<span ng-class="">{{network.id}}</span> {{network.name}}&ndash;&gt;-->
        <!--<i ngClass="fa fa-{{socialNetwork.name}}" aria-hidden="true"></i>-->
    <!--</dt>-->
<!--</dl>-->

<ul class="nav nav-tabs">
    <li role="presentation" class="social-network {{socialNetwork.name}}"
        [class.active]="socialNetwork.active"
        *ngFor="let socialNetwork of socialNetworks">
        <a (click)="selectNetwork($event, socialNetwork)"><i ngClass="fa fa-{{socialNetwork.name}}" aria-hidden="true"></i></a>
    </li>
</ul>