<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/users/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            {{#if user.local.email }}
                <p>
                    <strong>id</strong>: {{user._id}}<br>
                    <strong>email</strong>: {{user.local.email}}<br>
                    <strong>password</strong>: {{user.local.password}}
                    <strong>name</strong>: {{user.local.displayName}}
                </p>
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
            {{else}}
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
            {{/if}}

        </div>
    </div>

    <!-- FACEBOOK INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

            {{#if user.facebook.token }}
                <p>
                    <strong>id</strong>: {{user.facebook.id}}<br>
                    <strong>token</strong>: {{user.facebook.token}}<br>
                    <strong>email</strong>: {{user.facebook.email}}<br>
                    <strong>name</strong>: {{user.facebook.name}}
                </p>
                <!--<form method="POST" action="/resource" enctype="application/x-www-form-urlencoded">-->
                    <!--<input type="hidden" name="_method" value="DELETE">-->
                    <!--<button type="submit">Delete resource</button>-->
                <!--</form>-->
                <form method="post" action="/connect/facebook" id="unlink-facebook" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="DELETE">
                    <input class="btn btn-primary" type="submit" value="delete">
                    <!--<div class="form-submit">-->
                        <!--<input class="btn btn-primary" type="submit" value="delete">Unlink</input>-->
                    <!--</div>-->
                    <!--<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>-->
                </form>
            {{else}}
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
            {{/if}}

        </div>
    </div>

    <!-- TWITTER INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

            {{#if user.twitter.token }}
                <p>
                    <strong>id</strong>: {{user.twitter.id}}<br>
                    <strong>token</strong>: {{user.twitter.token}}<br>
                    <strong>username</strong>: {{user.twitter.username}}<br>
                    <strong>displayName</strong>: {{user.twitter.displayName}}
                </p>
                <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
            {{else}}
                <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
            {{/if}}

        </div>
    </div>

    <!-- GOOGLE INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
            {{#if user.google.token }}
                <p>
                    <strong>id</strong>: {{user.google.id}}<br>
                    <strong>token</strong>: {{user.google.token}}<br>
                    <strong>email</strong>: {{user.google.email}}<br>
                    <strong>name</strong>: {{user.google.name}}
                </p>
                <a href="/unlink/google" class="btn btn-danger">Unlink</a>
            {{else}}
                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
            {{/if}}
        </div>
    </div>
</div>