<section id="services">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Signup</h1>
            <!-- show any messages that come back with authentication -->
            {{#if message}}
                <div class="alert alert-danger">{{message}}</div>
            {{/if}}

            <!-- LOGIN FORM -->
            <form action="/users/signup" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>
            <hr>
            <p>Already have an account? <a href="/users/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</section>